<a href="/movies"> The Movies Page </a>
<%= link_to "The Movies Page", movie_path %>

<a href="/movies/1"> One Movie </a>
<%= link_to "One Movie", movie_path(1) %>

<% link_to "Create a new movie", new_movie_path %>

<img src="raiders.jpg">
<!-- assets folder images directory -->
<%= image_tag "foo.jpg" %>
